/* Your card CSS file */

/* Card*/

.cards {
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 25%;
  height: 320px;
}

.card img {
  width: 80%;
  height: 40%;
  object-fit: cover;
  margin: 16px;
}

.card p {
  font-weight:lighter;
  padding: 12px;
}

/* Card Category */

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 180px;
  background-image: linear-gradient(rgb(0,0,0,0.3), rgb(0,0,0,0.3 )), url("../../images/breakfast.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);

  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgb(0,0,0, 0.8);

  margin: 16px;
}

/* Card Product */

.card-product {
  display: flex;
  align-items: center;
  height: 130px;
  margin: 16px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;

}

.card-product-image img {
  height: 100%;
  object-fit: cover;
}

.card-product-infos {
  padding: 8px;
}

.card-product-infos h3 {
  padding: 8px
}

.card-product-infos p {
  font-weight: lighter;
  margin: 0;
  padding: 8px
}

/* Card Trip */

.card-trip {
  border-radius: 4px;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  overflow: hidden;
  margin: 16px;
  position: relative;
}

.card-trip-image img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.card-trip-description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.card-trip-infos {
  padding: 8px;
}

.card-trip-description h3 {
  margin: 0;
}

.card-trip-description p {
  font-weight: lighter;
  margin: 0;
  font-size: 14px;
}

.avatar {
  position: absolute;
  bottom: 49px;
  right: 12px;
}

.avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
  border: 1px solid rgb(250, 250, 250);
}
